* {
  /*resetting rule*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f0e2c5;
  color: #49281a;
}
html {
  scroll-behavior: smooth;
}
/*header section*/
header {
  /* border: 2px solid black;*/
  text-align: center;
  padding: 100px;
}
header h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 3rem;
  margin-bottom: 40px;
}
header p {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 55px;
}
header a {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  background-color: #49281a;
  color: #f0e2c5;
  padding: 15px 30px;
  border-radius: 10px;
}
/*nav section*/
nav {
  /* border: 2px solid black;*/
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding: 25px 0;
}
nav a {
  background-color: #49281a;
  color: #f0e2c5;
  text-decoration: none;
  margin-right: 20px;
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 9px;
}
/*our-menu section*/
#our-menu,
#about-us,
#contact,
footer {
  /*border: 2px solid black;*/
  width: 80%;
  margin: 20px auto;
}
#our-menu h2,
#about-us h2,
#contact h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 2rem;
  margin: 20px 0;
}
/*about-us section*/
#about-us p,
#contact p {
  font-family: "Lato", sans-serif;
  text-align: justify;
  padding: 10px 0;
  line-height: 1.5;
  font-size: 1.2rem;
}
/*contact section*/
form {
  font-family: "Lato", sans-serif;
  width: 80%;
  margin: 10px auto;
  font-size: 1.2rem;
}
form div {
  padding: 15px 0;
}
.form-label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}
.form-control {
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px dotted #49281a;
}
.btn-submit {
  background-color: #49281a;
  color: #f0e2c5;
  font-family: "Lato", sans-serif;
  width: 200px;
  height: 50px;
  margin-left: 160px;
  border: none;
  outline: none;
  border-radius: 9px;
}
/*footer-section*/
footer {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 10px 0;
}
.card {
  border: 2px solid black;
  width: 300px;
  background-color: wheat;
  padding: 20px;
  border-radius: 9px;
}
.card-img-top {
  max-width: 100%;
  border-radius: 9px;
}
.card-body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-text {
  line-height: 1.5;
}
.btn-order {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #49281a;
  text-decoration: none;
  color: white;
  border-radius: 9px;
}
.card {
  border: 2px solid black;
  width: 300px;
  background-color: wheat;
  padding: 20px;
  border-radius: 9px;
}
.card-img-top {
  max-width: 100%;
  border-radius: 9px;
}
.card-body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-text {
  line-height: 1.5;
}
.btn-order {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #49281a;
  text-decoration: none;
  color: white;
  border-radius: 9px;
  display: block;
  height: 40px;
}
.card-container {
  display: flex;
  justify-content: center;
}
