* {
  /*resetting rule*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #9caf88;
  color: #2e2e2e;
}
html {
  scroll-behavior: smooth;
}
/*header section*/
header {
  /* border: 2px solid black;*/
  text-align: center;
  padding: 100px;
  background-image: url(images/interior-shot-cafe-with-chairs-near-bar-with-wooden-tables.jpg);
  background-size: cover;
}
.head,
.para {
  background-color: transparent;
  color: #3aa102;
}

header h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 3rem;
  margin-bottom: 40px;
}
header p {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 55px;
}
header a {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  background-color: #2e2e2e;
  color: #9caf88;
  padding: 15px 30px;
  border-radius: 10px;
}
/*nav section*/
nav {
  /* border: 2px solid black;*/
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding: 25px 0;
  position: sticky;
  top: 50px;
}
nav a {
  background-color: #2e2e2e;
  color: #9caf88;
  text-decoration: none;
  margin-right: 20px;
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 9px;
}
/*our-menu section*/
#our-menu,
#about-us,
#contact,
footer {
  /*border: 2px solid black;*/
  width: 80%;
  margin: 20px auto;
}
#our-menu h2,
.card-container {
  display: flex;
  justify-content: center;
}
.card {
  border: 2px solid #2e2e2e;
  width: 300px;
  background-color: #9CAF88t;
  padding: 20px;
  border-radius: 9px;
}
.card-img-top {
  max-width: 100%;
  border-radius: 9px;
}
.card-body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-text {
  line-height: 1.5;
}
#about-us h2,
#contact h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 2rem;
  margin: 20px 0;
}
/*about-us section*/
#about-us p,
#contact p {
  font-family: "Lato", sans-serif;
  text-align: justify;
  padding: 10px 0;
  line-height: 1.5;
  font-size: 1.2rem;
}
/*contact section*/
form {
  font-family: "Lato", sans-serif;
  width: 80%;
  margin: 10px auto;
  font-size: 1.2rem;
}
form div {
  padding: 15px 0;
}
.form-label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}
.form-control {
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px dotted #2e2e2e;
}
.btn-submit {
  background-color: #2e2e2e;
  color: #9caf88;
  font-family: "Lato", sans-serif;
  width: 200px;
  height: 50px;
  margin-left: 160px;
  border: none;
  outline: none;
  border-radius: 9px;
}
/*footer-section*/
footer {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 10px 0;
}

.btn-order {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #2e2e2e;
  text-decoration: none;
  color: #9caf88;
  border-radius: 9px;
}

.btn-order {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #2e2e2e;
  text-decoration: none;
  color: #9caf88;
  border-radius: 9px;
  display: block;
  height: 40px;
}

.card:hover {
  transform: scale(1.2);
  z-index: 10;
}
